<div class="row" style="padding-top: 25px">
	<div class="col-md-3" id="navMenuPanel">       
		{{> usernav billing=true}}
	</div>  
	<div class="col-md-9" id="browserArea">
		<h2>Billing</h2>
		<hr>
		<h5>Plan</h5>
		
		<div class="well">
		<strong>Free plan</strong>, unlimited public repositories</strong>
		
			{{user.plan}}
		</div>
		
		<p><a class="btn btn-success" href="/users/{{user.username}}/settings/billing/upgrade">Get private repositories</a></p>
		<hr>
		<h5>Payment</h5>
		<div class="well">
			<i class="fa fa-credit-card" aria-hidden="true"></i> No payment method on file.
		</div>			
		<p><a class="btn btn-default" href="/users/{{user.username}}/settings/billing/payment"><i class="fa fa-credit-card" aria-hidden="true"></i> Add payment method</a></p>
		<hr>
		<h5>Payment history</h5>
		<div class="well">
			You have not made any payments.	
		</div>			
		<small>Amounts shown in USD</small>
	</div>
</div>
<script type="text/javascript">
</script>