<script async defer src="https://buttons.github.io/buttons.js"></script>

<div style="padding-top: 155px"></div>
    <footer>
       <div style="padding-top: 75px">
        <div class="row">
            <div class="col-md-4" style="text-align: center;">
               <p></p>
               An <a href="https://isithelo.com/" target="_blank"> Isithelo Technical Solutions </a> Production  
               <p>

               </p> 
           </div>
           <div class="col-md-4" style="text-align: center;">
            <a href="/" style="font-size: 25px;text-decoration: none;color: black">
                <img src="/img/Logo square 300x300.png" style="height: 35px"> FRATERNATE
            </a>       <p>
               Built with <a target="_blank" href="https://github.com/Isithelo/Heavy-lifting">Heavy-lifting</a>           
           </p>
           <!-- Place this tag where you want the button to render. -->
       </div>
       <div class="col-md-4" style="text-align: center;">
        <h5>More details</h5>
        <a href="/terms">Terms</a> | <a href="/privacy">Privacy</a> | <a href="/contact">Contact</a>
    </div>
<div>
        <div class="col-md-12" style="text-align: center; padding-top: 25px">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4051238795083187"
        data-ad-slot="6384881635"
        data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>
</div> </div>

</footer>
 

 