<script async defer src="https://buttons.github.io/buttons.js"></script>
<div style="padding-top: 155px">
	<footer>
		<div class="row">
			<div class="col-md-4" style="text-align: center;padding: 15px">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle"
				style="display:block"
				data-ad-client="ca-pub-4051238795083187"
				data-ad-slot="6384881635"
				data-ad-format="auto"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<div class="col-md-4" style="text-align: center;padding: 15px">
				<a href="/">
					<img src="/img/Logo square 300x300.png" style="height: 55px"> 
				</a><p></p>
				<a href="https://isithelo.com/" target="_blank">Isithelo Mining</a> | <a target="_blank" href="{{repo}}">{{sitename}} Repo</a>
				<p>
					<p></p> 
				</p>
				<!-- Place this tag where you want the button to render. -->
			</div>
			<div class="col-md-4" style="text-align: center;padding: 15px">
				<h5>More details</h5>
				<a href="/terms">Terms</a> | <a href="/privacy">Privacy</a> | <a href="/contact">Contact</a>
				<p> 
					<div>
						<span>
							 <a class="github-button" href="https://github.com/Isithelo/{{sitename}}" data-size="large" data-show-count="true" aria-label="Star Isithelo/{{sitename}} on GitHub">Star</a> 
						</span>	
					</div>
				</footer>
			</div>
