 
 

 <style type="text/css">
@media screen and (max-width: 600px) {
  .mobilehide {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}
</style>
 
<hr>
 
<div class="container" style="padding-top: 45px;padding-bottom: 75px">
  <div class="row">
   <div class="col-md-3 mobilehide" style="">

    <h4>Introduction</h4>
    <ul>
      <li><a href="/introduction">Introduction</a></li>
     </ul>    
  </div>
  <div class="col-md-3 mobilehide" style="">
   <h4>Collaborate <small>Would you like to contribute?</small></h4>
   <ul>
    <li> <a href="/contact">Contact us</a></li>
  </ul>
  <h4>Site Details</h4>
  <ul>
    <li><a href="/users">Users</a></li>
    <li><a href="/organizations">Organizations</a></li>
  </ul>
</div>
<div class="col-md-3 mobilehide" style="">
  {{#unless user}}
  <h4>Sign up to get started!</h4>
  <span><small><p><a href="/signup" class="btn btn-success">Sign up</a>  Sign up its free.</p></small></span>
  {{/unless}}
  <h4>Issues <small>List your issues with the interface.</small></h4>
  <ul>
    <li><a href="/issues/view">Issues</a></li>
  </ul> 
</div>
<div class="col-md-3" style="">
  <a href="/" style="font-size: 25px;text-decoration: none;color: black">
    <h3><img src="/img/Logo square 300x300.png" style="height: 35px"> Fratenate</h3>
    <p></p>
  </a>   
  <p>
    An <a href="https://isithelo.com/" target="_blank"> Isithelo Technical Solutions </a> Production  
    <p><p>
      Built with <a target="_blank" href="https://github.com/Isithelo/Heavy-lifting">Heavy-lifting</a>           
    </p>
    <h4>More details</h4>
    <a href="/terms">Terms</a> | <a href="/privacy">Privacy</a> | <a href="/contact">Contact</a>
  </div>
</div>
</div>

        <div class="col-md-12" style="text-align: center; padding-top: 25px">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4051238795083187"
        data-ad-slot="6384881635"
        data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>