<div class="awesome">
	<div style="background-color: #fff !important;padding: 40px">
		<h3>Don't Forget! <small>Star the GitHub Repo to help speed up development.</small></h3> 
		<div class="row">
			<div class="col-md-6" style="text-align: center;min-height: 250px">
				<a href="https://semini.herokuapp.com/" target="_blank" style="text-decoration: none;">
					<img  style="max-width: 50px" src="/img/logo/semini.png" alt="..." >
					<h3>Semini  <small>Form creator.</small></h3>
					<p><a href="https://github.com/Isithelo/Semini" target="_blank">Semini Repo</a></p>
					<a class="github-button" href="https://github.com/Isithelo/semini" data-size="large" data-show-count="true" aria-label="Star Isithelo/semini on GitHub">Star</a> 
				</a>
			</div>
			<div class="col-md-6" style="text-align: center;min-height: 250px">
				<a href="https://fraternate.herokuapp.com/" target="_blank" style="text-decoration: none;">
					<img  style="max-width: 50px" src="/img/logo/fraternate.png" alt="..." >
					<h3>Fraternate  <small>Team and User Management System.</small></h3>
					<p><a href="https://github.com/Isithelo/Fraternate" target="_blank">Fraternate Repo</a></p>
					<a class="github-button" href="https://github.com/Isithelo/Fraternate" data-size="large" data-show-count="true" aria-label="Star Isithelo/Fraternate on GitHub">Star</a> 
				</a>
			</div>
			<div class="col-md-6" style="text-align: center;min-height: 250px ">
				<a href="https://wrasse.herokuapp.com/" target="_blank"  style="text-decoration: none;">
					<img  style="max-width: 50px" src="/img/logo/wrasse.png" alt="...">
					<h3>Wrasse  <small>Issue Tracking.</small></h3>
					<p><a href="https://github.com/Isithelo/Wrasse" target="_blank">Wrasse Repo</a></p>
					<a class="github-button" href="https://github.com/Isithelo/wrasse" data-size="large" data-show-count="true" aria-label="Star Isithelo/Fraternate on GitHub">Star</a> 
				</a>
			</div>
			<div class="col-md-6" style="text-align: center;min-height: 250px  ">
				<a href="https://heavy-lifting.herokuapp.com/" target="_blank"  style="text-decoration: none;">
					<img  style="max-width: 50px" src="/img/logo/heavy-lifting.png" alt="...">
					<h3>Heavy-lifting  <small>Bulk cataloging and design.</small></h3>
					<p><a href="https://github.com/Isithelo/Heavy-lifting" target="_blank">Heavy-lifting Repo</a></p>
					<a class="github-button" href="https://github.com/Isithelo/heavy-lifting" data-size="large" data-show-count="true" aria-label="Star Isithelo/Fraternate on GitHub">Star</a> 
				</a>
			</div>
		</div>
	</div>
</div>