<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="login-container container">
 
<div class="panel panel-default">
    <div class="panel-body">
      {{#if messages.error}}
        <div role="alert" class="alert alert-danger">
          {{#each messages.error}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      <form method="POST" action="/signup">
        <div class="form-group">   
          <input type="text" name="username" id="username" placeholder="Pick a username" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="email" name="email" id="email" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="password" id="password" placeholder="Password" class="form-control">
        </div> 
        <div class="form-group">
          <small class="text-muted">Use at least one letter, one numeral, and seven characters.</small>
        </div>
           <div class="form-group" >  
            <div class="g-recaptcha" data-callback="enableBtn" data-sitekey="{{sitekey}}" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
        </div>
        <div class="form-group">
          <small class="text-muted">By clicking "Sign up for {{siteName}}",  up, you agree to the <a href="/terms">Terms of Service</a> and <a href="/Privacy">Privacy Statement</a>.  We’ll occasionally send you account related emails.</small>
        </div>
        <button type="submit" id="button1" class="btn btn-primary">Sign up for {{siteName}}</button>
      </form>
      <div class="hr-title"><span>or</span></div>
      <div class="btn-toolbar text-center">
        <a href="/auth/google" class="btn btn-default">Sign in with Google</a>
        <a href="/auth/github" class="btn btn-default">Sign in with Github</a>
      </div>
    </div>
  </div>
  <p class="text-center">
    Already have an account? <a style="color: white" href="/signin"><strong >Sign in</strong></a>
  </p>
</div>

<script type="text/javascript">
  document.getElementById("button1").disabled = true;
  function enableBtn(){
    document.getElementById("button1").disabled = false;
  }
</script>