 
<div class="panel" >
  <div class="panel-body">
    {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
      <div>{{msg}}</div>
      {{/each}}
    </div>
    {{/if}}
    <form method="POST" action="/signup">
      <div class="form-group">
        <input type="text" name="username" id="username" placeholder="Pick a username" class="form-control" autofocus>
      </div>
      <div class="form-group">
        <input type="email" name="email" id="email" placeholder="Email" class="form-control">
      </div>
      <div class="form-group">
        <input type="password" name="password" id="password" placeholder="Password" class="form-control">
      </div>
      <div class="form-group" >  
        <div class="g-recaptcha" data-callback="enableBtn" data-sitekey="6Le2aCcUAAAAAO8g693E9uMACIv7L-DeAbDZc67-"></div>
      </div>
      <div class="form-group">
        <small class="text-muted">By signing up, you agree to the <a href="/terms">Terms of Service</a> and <a href="/Privacy">Privacy Statement</a>.</small>
      </div>
      <button type="submit" id="button1" class="btn btn-primary">Sign up</button>
    </form>
    <div class="hr-title"><span>or</span></div>
    <div class="btn-toolbar text-center">
      <a href="/auth/google" class="btn btn-default">Sign in with Google</a>
      <a href="/auth/github" class="btn btn-default">Sign in with Github</a>
    </div>
  </div>
</div>
<p class="text-center">
  Already have an account? <a style="color: white" href="/signin"><strong>Sign in</strong></a>
</p>

<script type="text/javascript">
  document.getElementById("button1").disabled = true;
  function enableBtn(){
    document.getElementById("button1").disabled = false;
  }
</script>