<h1><strong>Welcome to Fraternate.</strong></h1>
 
 <p>Fraternate is an open source user and team subscription boilerplate, it is designed as a standalone copy of the GitHub user subscription system. Fraternate can be deployed as a boilerplate directly off GitHub. It is open-source and light weight. Built with mongodB, NodeJS, expressjs and Handlebars.js and designed for flexibility.</p>