<h1 class="display-3">Welcome to Shiftbulk <small><span class="badge badge-secondary">{{siteversion}}</span></small></h1>
<p>Thank you for taking the time to browse the site, please be aware that some features are still in BETA and if you find any issues please feel free to comment or send us a mail. Shiftbulk is a collaborative platform for creating detailed design calculations and purchasing schedules for a belt conveyor system.</p>
<p>Shiftbulk aims to improve the speed of design, detailing and purchasing of a conveyor system. It aims at reducing the complexity of sourcing equipment, specifying designs, generation and management of equipment lists and generally reducing the complexity of OEM product selection for Conveyor Systems.</p>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style="padding-top: 15px">
    <li  class="nav-item" role="presentation">
      <a class="nav-link active" href="#start" aria-controls="start" role="tab" data-toggle="tab">Get Started</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tab-pane show active" class="tab-pane active" id="start">
      
    </div>
  </div>
</div>


POSSIBLEY REDDUNDATNS