<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
 


<div class="media">
  <div class="media-left media-middle">
   
        <img src="img/Logo square 300x300.png" class="media-object" style="max-width: 100px">
      
  </div>
  <div class="media-body">
  <h1>Heavy-lifting  <small>Administration</small></h1>
  <p>You are logged in as a superuser. Modify data below.</p>
  </div>
</div>



<hr>