<ul class="list-inline" >
        <li><a href="/terms" data-ga-click="Footer, go to terms, text:terms" >Terms</a></li>
        <li><a href="/privacy" data-ga-click="Footer, go to privacy, text:privacy" >Privacy</a></li>
        <li><a href="/contact" data-ga-click="Footer, go to contact, text:contact" >Contact</a></li>
 </ul>
