<ul class="list-group">
	<a class="list-group-item {{#if introduction}}active{{/if}}" href="/introduction">Introduction</a>
	<a class="list-group-item {{#if database}}active{{/if}}" href="introduction">Database</a>	
	<a class="list-group-item {{#if store}}active{{/if}}" href="introduction">Store</a>
	<a class="list-group-item {{#if components}}active{{/if}}" href="introduction">Components</a>
	<a class="list-group-item {{#if assemblies}}active{{/if}}" href="introduction">Assemblies</a>
	<a class="list-group-item {{#if reporting}}active{{/if}}" href="introduction">Reporting</a>
</ul>

<ul class="list-group">
	<a class="list-group-item {{#if billing}}active{{/if}}" href="/billing">Billing</a>
	<a class="list-group-item {{#if contribute}}active{{/if}}" href="/contribute">Contribute</a>
	<a class="list-group-item {{#if list}}active{{/if}}" href="/list">List your product</a>
	<a class="list-group-item {{#if partner}}active{{/if}}" href="/partner">Partnership</a>
</ul>         

<ul class="list-group">
	<a class="list-group-item {{#if terms}}active{{/if}}" href="/terms">Terms</a>
	<a class="list-group-item {{#if privacy}}active{{/if}}" href="/privacy">Privacy</a>
</ul>   


redundant
redundant
redundant
redundant
redundant
redundant
redundant
redundant
redundant
redundant
redundant