 

<div class="bs-docs-headers" id="content" tabindex=" " style="padding-bottom: "> 
  <div class="container" style="text-align: left;padding-bottom:0px">
   <h1 style="color: white">{{item.title}}</span></h1> 
   <p>{{item.description}}</p>
 </div> 
</div> 
 