    <h1>Braintree Billing Management</h1>
    <div class="row">
     <div class="col-md-9">
       <p> The table below shows the complete set of transactions on the {{sitename}} site.
        All transactions are managed through the Braintree service, the data below is using the Sandbox payment system provided by Braintree and no real transactions are occurring and all credit card details are incorrect. So, you can go nuts and buy test subscriptions to your hearts content.
      </p>
    </div>
    <div class="col-md-3">
     <div style="text-align: center;">
      <a href="https://www.braintreepayments.com/" target="_blank"><img src="/img/logo/braintree.png"> </a>
    </div>
  </div>
</div>
<p></p>
<h3>Braintree Boilerplate Specifications</h3>
<div class="row">
<div class="col-md-12">
  <p>The following features are subscription features are tested on the Braintree sandbox account.</p>
</div>

  <div class="col-md-6">
  <table class="table table-bordered">
      <thead><tr class="tableizer-firstrow"><th>Credit Card</th><th>Create</th><th>Read</th><th>Update</th><th>Delete</th></tr></thead><tbody>
      <tr><td>Payment Details</td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td></tr>
      <tr><td>Subscription</td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td></tr>
      <tr><td>Transaction</td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td></tr>
    </tbody></table>
  </div>
  <div class="col-md-6">
  <table class="table table-bordered">
      <thead><tr class="tableizer-firstrow"><th>PayPal</th><th>Create</th><th>Read</th><th>Update</th><th>Delete</th></tr></thead><tbody>
      <tr><td>Payment Details</td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td></tr>
      <tr><td>Subscription</td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td></tr>
      <tr><td>Transaction</td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td></tr>
    </tbody></table>
  </div>
</div>

<p>Some limitations to the boilerplate include; Only 1 active subscription per user / organization is possible.</p>
<div class="row">
  <div style="text-align: center;">
    <a href="/signup" target="_blank" class="btn btn-lg btn-default">Sign in to test the functionality...</a>
  </div>
</div>
<h3>Transaction history. <small>Transaction are shown on the calendar below.</small></h3>
<hr>
<div id="cal-heatmap" style="overflow: auto;text-align: center;"></div>
<hr>
<div class="row">
  <div class="col-md-6">
    <div id="subscription_history">
    </div>
    <small>The Braintree Sandbox does not support the node.js client subscription query for "all" as yet, as such this is not the complete subscription list. It does however work for single and multiple queries.</small>
  </div>
  <div class="col-md-6">
    <div id="transaction_history">
    </div></div>
  </div>
  <small>Amounts shown in USD</small>
  <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript">
//////////////////////////////////////////////////////
////        STREAM IN TRANSACTION HISTROY        //// 
////////////////////////////////////////////////////
function streamTransactions(){
  $.ajax({
    url: '/transaction_history_all',
    success: function(data) {
      data = JSON.parse(data)
      printTable(data)
    },
    error : function(err){
      console.log(err)
    }
  }); 
}

///////////////////////////////////////
///// PRINT TRANSACTION HISTORY //////
/////////////////////////////////////
function printTable(data){
  var html =''
  $('#transaction_history').html('')
  html += '<h5>Transaction History<small>  All of the site transactions.</small></h5><table class="table table-bordered" id="transaction_table" > <thead> <tr> <th>Date</th> <th>Status</th> <th>Value</th> </tr> </thead> <tbody>'
  for (var i = 0; i < data.length; i++) {
    var date =  new Date(data[i].createdAt)
    date = moment(date).format('YYYY-MM-DD , h:mm');
    html += '<tr><td>'+date+'</td><td>'+data[i].status+'</td><td>$'+data[i].amount+'</td></tr>'
  }
  html +='</tbody></table>  '
  $('#transaction_history').append(html)
  var table = jQuery('#transaction_table').DataTable({
    'destroy':true,
    "pagingType": "numbers",
    'order': [[ 0, 'desc' ]] ,
    "bLengthChange": false,
    "bFilter": false,
    "language": {
      "emptyTable": "There is no transaction history on {{sitenamte}}, Likely the Sandbox account was recently purged."
    }
  });
  heatmap(data)
}

//////////////////////////////////////////////////////
////        STREAM IN SUBSCRIPTION HISTORY       //// 
////////////////////////////////////////////////////
function streamSubscriptions(){
  $.ajax({
    url: '/subscription_history_all',
    success: function(data) {
      data = JSON.parse(data)
      printTableSubscriptions(data)
    },
    error : function(err){
      console.log(err)
    }
  }); 
}

////////////////////////////////////////
///// PRINT SUBSCRIPTION HISTORY //////
//////////////////////////////////////
function printTableSubscriptions(datas){
  var data = datas[0]
  var html =''
  $('#subscription_history').html('')
  html += '<h5>Subscription History<small>  All of the site subscriptions.</small></h5><table class="table table-bordered" id="subscription_table" > <thead> <tr>  <th>Next Billing Date</th> <th>Value</th> <th>Status</th> </tr> </thead> <tbody>'
  for (var i = 0; i < data.paymentMethods[0].subscriptions.length; i++) {
    var date =  new Date(data.paymentMethods[0].subscriptions[i].nextBillingDate)
    date = moment(date).format('YYYY-MM-DD , h:mm');
    html += '<tr><td>'+data.paymentMethods[0].subscriptions[i].nextBillingDate+'</td><td>$'+data.paymentMethods[0].subscriptions[i].nextBillingPeriodAmount+'</td><td>'+data.paymentMethods[0].subscriptions[i].status+'</td></tr>'
  }
  html +='</tbody></table>  '
  $('#subscription_history').append(html)
  var table = jQuery('#subscription_table').DataTable({
    'destroy':true,
    "pagingType": "numbers",
    'order': [[ 2, 'asc' ]] ,
    "bLengthChange": false,
    "bFilter": false,
    "language": {
      "emptyTable": "There is no subscription history on {{sitename}}, Likely the Sandbox account was recently purged."
    }    
  });
}

////////////////////////
///// INITIALIZE //////
//////////////////////
$(document).ready( function() {
  $('#transaction_history').html('<div class="well" style="text-align:center;"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div>')
  $('#subscription_history').html('<div class="well" style="text-align:center"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div>')
  $('#cal-heatmap').html('<div class="well" style="text-align:center"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div>')
  streamTransactions()
  streamSubscriptions()
  
});

///////////////////////////// 
//////  HEAT MAP      //////
/////////////////////////// 
function heatmap(data){
  $('#cal-heatmap').html('')
  var parserData = function (data) {
    var dataJSON = {};
    for(var i=0; i<data.length; i++) {
    var date = new Date(data[i].createdAt); // Date of activity 
    var sec = date.getTime()/1000; // Convert to sec
    // Pair "Key-Value" for calendar data
    if(dataJSON[sec]) {
      dataJSON[sec]++;
    } else {
      dataJSON[sec] = 1;
    }
  }
  return dataJSON;
}
var cal = new CalHeatMap();
cal.init({
 itemSelector: "#cal-heatmap",
 domain: "month",
 subDomain: "day",
 itemNamespace: "domainDynamicDimension",
 // range: 11,
//start: new Date(2016, 10),
   data: data, // Dates Array
   afterLoadData: parserData      // Parser function
 });
}
</script>
