<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="login-container container" style="padding-bottom: 35px">
 <div style="text-align: center">
   <img src="/img/Logo square 300x300.png" style="height: 55px">  
 </div>
 <div style="text-align: center;padding-bottom: 15px">
  <h2>Contact the {{sitename}} Team</h2>
</div>
<div class="panel panel-default" id="sendingarea" >
  <div class="panel-body">
    <p></p>
    {{#if messages.success}}
    <div role="alert" class="alert alert-success">
      {{#each messages.success}}
      <div>{{msg}}</div>
      {{/each}}
    </div>
    {{/if}}
    {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
      <div>{{msg}}</div>
      {{/each}}
    </div>
    {{/if}}
    <form method="POST" class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-md-12">Name</label>
        <div class="col-md-12">
          <input type="text" name="name" id="name" class="form-control" autofocus>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-md-12">Email</label>
        <div class="col-md-12">
          <input type="email" name="email" id="email" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="message" class="col-md-12">How can we help?</label>
        <div class="col-md-12">
          <textarea name="message" placeholder="Please describe exactly what you’re trying to accomplish." id="message" rows="7" class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group">  
       <div class="col-md-12">
        <div class="g-recaptcha" data-callback="enableBtn" data-sitekey="6Le2aCcUAAAAAO8g693E9uMACIv7L-DeAbDZc67-"></div>
      </div>
    </div>
    <div class="form-group">
     <div class="col-md-12">
      <button type="submit"  id="button1" class="btn btn-primary">Send</button>
    </div>
  </div>
</form>
</div>
</div>
</div>


<script type="text/javascript">
 document.getElementById("button1").disabled = true;
  function enableBtn(){
    document.getElementById("button1").disabled = false;
  }
</script>