<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msvalidate.01" content="6F54F88A443C656EFB178CEF11C4E7E9" />
  <meta name="google-site-verification" content="V6ZQykcqytIxvH_JCfowxQfGXB9Qn-rgaQ-iIrtoW3c" />
  <title>{{pagetitle}}</title>
  {{> css}}
</head>
<body>
  {{> javascript}}
  {{#if bs4}}
  {{> headerbs4}}
  <div class="container" style=" " >  
    {{else}}
    {{> masthead}}
    {{> header}}
    <div class="container" style="padding-top:55px" >  
      {{/if}}
      {{{body}}}
    </div>
    {{#if user}}
    <!-- Modal -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
         <div class="modal-body">
          <div id="pickerArea"  ></div>
          <div id="formAreaModal">
           <div style="text-align:center;padding:25px">
            <i class="fa fa-spinner fa-spin fa-fw"></i><span class=" ">Loading...</span>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
<div class="modal bs-example-modal-sm" tabindex="-1" id="myModal-sm" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
     <div class="modal-body">
      <div id="pickerArea-sm"  ></div>
      <div id="formAreaModal-sm">
       <div style="text-align:center;padding:25px">
        <i class="fa fa-spinner fa-spin fa-fw"></i><span class=" ">Loading...</span>
      </div>

    </div>  
  </div>
</div>
</div>
</div>
{{/if}}
{{> footer}}
{{> analytics}}
</body>
</html>

