<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="login-container container">
     <div style="text-align: center">
       <img src="/img/Logo square 300x300.png" style="height: 55px">  
     </div>
    <div style="text-align: center;padding-bottom: 15px">
        <h2>Forgot Password</h2>
     </div>
<div class="panel panel-default">
    <div class="panel-body">
      {{#if messages.info}}
        <div role="alert" class="alert alert-info">
          {{#each messages.info}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      {{#if messages.error}}
        <div role="alert" class="alert alert-danger">
          {{#each messages.error}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      <form method="POST">
        <div class="form-group">
          <p>Enter your email address below and we'll send you password reset instructions.</p>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Email" class="form-control" autofocus>
        </div><div class="form-group" >  
            <div class="g-recaptcha" data-callback="enableBtn" data-sitekey="6Le2aCcUAAAAAO8g693E9uMACIv7L-DeAbDZc67-"></div>
        </div>
        <button type="submit" id="button1" class="btn btn-success">Reset Password</button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
document.getElementById("button1").disabled = true;
  function enableBtn(){
    document.getElementById("button1").disabled = false;
   }
</script>
