<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{sitename}}</title>
  {{> css}}
    <style type="text/css">
    .outer{
      background-color: rgba(0,0,0,0.5);
      filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#E6FFFFFF",endColorStr="#E6FFFFFF");
      -ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#E6FFFFFF",endColorStr="#E6FFFFFF");
    }

  </style><!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
  {{> javascript}}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  {{> header}}
  <div class="full-page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-7" style="padding-top: 95px">
          
         <div class="well outer"  >
           <h1> 
           {{sitename}} is a user and organization registration , login and management framework.
         </h1><!-- Place this tag where you want the button to render. -->

         <h3  > 
          {{sitename}} is a standalone copy of the GitHub organization and user interaction framework. Built with Mongo dB | Node.js | Express.js | Handlebars.js | Bootstrap.
        </h3>  

<table class="table table-bordered"> 
<thead>
  <tr>
  <th></th>
    <th style="text-align: center;">User</th>
    <th style="text-align: center;">Organization</th>
  </tr>
</thead>
<tbody>
  <tr>
  <td>Public Profile</td>
    <td style="text-align: center;"><i class="fa fa-check" aria-hidden="true"></i></td>
    <td style="text-align: center;"><i class="fa fa-check" aria-hidden="true"></i></td>
  </tr>
    <tr>
  <td>Private Profile</td>
    <td style="text-align: center;"><i class="fa fa-check" aria-hidden="true"></i></td>
    <td style="text-align: center;"><i class="fa fa-check" aria-hidden="true"></i></td>
  </tr>
      <tr>
  <td>User Access Control</td>
    <td style="text-align: center;"><i class="fa fa-check" aria-hidden="true"></i></td>
    <td style="text-align: center;"><i class="fa fa-check" aria-hidden="true"></i></td>
  </tr>
        <tr>
  <td>Settings</td>
    <td style="text-align: center;"><i class="fa fa-check" aria-hidden="true"></i></td>
    <td style="text-align: center;"><i class="fa fa-check" aria-hidden="true"></i></td>
  </tr>
        <tr>
  <td>Free Access</td>
    <td style="text-align: center;"><i class="fa fa-check" aria-hidden="true"></i></td>
    <td style="text-align: center;"><i class="fa fa-check" aria-hidden="true"></i></td>
  </tr>
        <tr>
  <td>Paid Access</td>
    <td style="text-align: center;"><i class="fa fa-check" aria-hidden="true"></i></td>
    <td style="text-align: center;"><i class="fa fa-check" aria-hidden="true"></i></td>
  </tr>
</tbody>

</table>
<p>p.s this is a work in progress.</p>

        <div style="padding-top: 35px" style="text-align:center;">
        <p></p>
         <!-- Place this tag where you want the button to render. -->
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/Isithelo/Fraternate" data-size="large" data-show-count="true" aria-label="Star Isithelo/Fraternate on GitHub">Star</a>
       </div>
       </div>
         
     </div>
     <div class="col-md-5" style="padding-top: 95px">
      {{> signuphomepage}}
    </div>
  </div>
</div>
</div>
{{> analytics}}
</body>
</html>
