<!DOCTYPE html>
<html lang="en">
<head>
  {{> css}}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="msvalidate.01" content="6F54F88A443C656EFB178CEF11C4E7E9" />
  <meta name="google-site-verification" content="V6ZQykcqytIxvH_JCfowxQfGXB9Qn-rgaQ-iIrtoW3c" />  
  <meta name="flattr:id" content="ljw99y">
  <title>{{siteName}}</title>
  <style type="text/css">
  .outer{
    background-color: rgba(0,0,0,0.5);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#E6FFFFFF",endColorStr="#E6FFFFFF");
    -ms-filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorStr="#E6FFFFFF",endColorStr="#E6FFFFFF");
  }
  .recaptch-placeholder{
    min-height: 88px;
  }
</style>
<!-- Place this tag in your head or just before your close body tag. -->
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  {{> javascript}}
</head>
<body id="page-top">
  {{> header}}
  <section class="cta" style="color: white"> <div class="overlay"></div>
    <div class="container">
          <div id='toToppo' style="z-index: 1000;  position:relative"><a href="#" title="Scroll to top of page."><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></a></div>
          <style type="text/css">
          #toToppo a {
            padding: 5px 5px;
            background: #000;
            color: #fff;
            position: fixed;
            z-index: -15px;
            bottom: 15px;
            right: 15px;
            display: none;
            text-decoration: none;
            border-radius: 5px
          }
        </style>
        <script type="text/javascript">
          $(document).ready(function(){
  //Check to see if the window is top if not then display button
  $(window).scroll(function(){
    if ($(this).scrollTop() > 100) {
      $('#toToppo a').fadeIn();
    } else {
      $('#toToppo a').fadeOut();
    }
  });
  //Click event to scroll to top
  $('#toToppo a').click(function(){
    $('html, body').animate({scrollTop : 0},600);
    return false;
  });
  
});
</script>      
      <div class="row">
        <div class="col-sm-7">
         <div class="header-content">
          <div class="header-content-inner" style="text-align:left">
<div class="col-md-12">
            <h1 style="font-size: 52px;">A user and organization subscription management boilerplate. 
            </h1>

            <div style="text-align: center;padding-top: 25px">
              <div style="t
              ext-align: center;"><code style="padding: 5px 50px 5px 50px">npm install fraternate</code></div>
            </div>
            <h3 style="color: #c7c7c7">Fraternate is a standalone copy of the GitHub user subscription system. </h3>
            <h3 style="color: #c7c7c7">Fraternate is <strong style="color: white">open-source</strong>, start by deploying as a boilerplate directly off GitHub , or use the npm module as a standalone plugin.  Built with mongodB, NodeJS, expressjs and Handlebars.js and designed for <strong style="color: white">flexibility</strong>.</h3>
           
            <div style="padding-top: 25px">
              <div class="btn-group btn-group-lg" role="group">
                <a href="/signup" class="btn btn-custom">Get Started</a>
                <a href="/users" class="btn btn-default">View User List</a>
              </div>
            </div>

            <div style="text-align: center;padding-top: 25px">
              <h4 class="media-heading">Don’t forget to star on GitHub!</h4>
              <p></p>
          <a class="github-button" href="https://github.com/Isithelo/{{siteName}}" data-size="large" data-show-count="true" aria-label="Star Isithelo/{{siteName}} on GitHub">Star</a> 
          
          </div>
 </div>
        </div>
      </div>
    </div>



    <div class="col-sm-5">
      <div class="header-content" style="padding-top: 25px">
        <div class="header-content-inner">
          {{> signuphomepage}}
        </div>
      </div>
    </div>
  </div> 

</section>

<section style="text-align: center">
  <div class="row">
        <div class="col-md-12 text-center">
        <h5>The Documentation.</h5>
        <h3>Browse to the documentation page for details on how to run on your PC, as well as installation and web deployment options.</h3>
 
      </div> 
 <div class="row">
  <div class="col-md-12">
  <a class="btn btn-success btn-lg" href="/installation" target="_blank">Instructions</a>   
  </div>
  
 </div>
  
</section>
<hr>
<section id="users" class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>The Framework.</h5>
        <h3>Designed and built with the following open source packages.</h3>
      </div> 

      <div class="col-md-3 text-center" >
        <p style="padding-top: 35px" > 
          <a href="/installation" target="_blank">
            <img style="max-width: 155px;height: 55px"  src="/img/logo/node.png">   
          </a>
        </p>
        <p>Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine.</p>
          <code>You need to download and install on your PC to run the localhost.</code>
      </div>

      <div class="col-md-3 text-center" >
        <p style="padding-top: 35px" > 
          <a href="/installation" target="_blank">
            <img style="max-width: 155px;height: 55px"  src="/img/logo/mongdb.png"> 
          </a>
          <p>MongoDB is a free and open-source cross-platform document-oriented database program.</p>
          <code>You need to download and install on your PC to run the localhost.</code>
        </p>
      </div>

      <div class="col-md-3 text-center" >
        <p style="padding-top: 35px" > 
          <a href="/installation" target="_blank">
            <img style="max-width: 155px;height: 55px"  src="/img/logo/express.png"> 
          </a>
          <p>Express.js, or simply Express, is a web application framework for Node.js,</p>
          <code>This is included in the Fraternate GitHub Repo.</code>
        </p>
      </div>

      <div class="col-md-3 text-center" >
        <p style="padding-top: 35px" > 
          <a href="/installation" target="_blank">
            <img style="max-width: 155px;height: 55px"  src="/img/logo/handlebars.png"> 
          </a>
          <p>Handlebars provides the power necessary to let you build semantic templates effectively with no frustration.</p>
          <code>This is included in the Fraternate GitHub Repo.</code>
        </p>
      </div>
    </div>

      <div class="col-md-12 text-center" style="padding-top: 55px">
        <a href="https://github.com/Isithelo/Fraternate" target="_blank" class="btn btn-lg btn-primary"><i class="fab fa-github"></i> Fraternate Repository</a>
        <p></p>
        <code>Fraternate is comprised of 2 parts; the (long term) standalone npm module, and this copy of the hosted website on GitHub. As the website and npm module are intertwined at the moment, it is best to start with a fork of the GitHub repository and figure out what you would like to keep and throw away from there.</code>
      </div> 
  </div>
</section>
<hr>
<section id="users" class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>External Integrations.</h5>
        <h3>Supports the following external integrations.</h3>
      </div> 
      <div class="col-md-3 text-center" >
        <p style="padding-top: 35px" > 
          <a href="/integration" target="_blank">
            <img style="max-width: 155px;height: 55px"  src="/img/logo/reCAPTCHA_logo.png">   
          </a>
        </p>
        <p>Google reCAPTCHA. reCAPTCHA is a CAPTCHA-like system designed to establish that a computer user is human and, at the same time, assist in the digitization of books.</p>
      </div>
      <div class="col-md-3 text-center" >
        <p style="padding-top: 35px" > 
          <a href="/integration" target="_blank">
            <img style="max-width: 155px;height: 55px"  src="/img/logo/goauth.png"> 
          </a>
          <p>Google Oauth.Google APIs use the OAuth 2.0 protocol for authentication and authorization.</p>
        </p>
      </div>
      <div class="col-md-3 text-center" >
        <p style="padding-top: 35px" > 
          <a href="/integration" target="_blank">
            <img style="max-width: 155px;"  src="/img/logo/Github.png"> 
          </a>
          <p>GitHub Oauth. Learn how to register and set up permissions and authorization options for OAuth Apps.</p>
        </p>
      </div>
      <div class="col-md-3 text-center" >
        <p style="padding-top: 35px" > 
          <a href="/integration" target="_blank">
            <img style="max-width: 155px;height: 55px"  src="/img/logo/downloa2d.png"> 
          </a>
          <p>Google Analytics,Google Analytics is a freemium web analytics service offered by Google that tracks and reports website traffic.</p>
        </p>
      </div>

      <div class="col-md-12 text-center" style="padding-top: 55px">
        <code>Security keys and passcodes are stored on the Heroku server or on the .ENV file for localhost servers.</code>
      </div> 

    </div>
  </div>
</section>
<hr>
<section id="users" class="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>Payment Methods.</h5>
        <h3>Monthly and yearly subscription payment structure for your clients.</h3>
      </div> 
      <div class="col-md-4 text-center">
        <p style="padding-top: 35px"> 
          <a href="/payments" >
            <img style="max-width: 155px" src="/img/logo/braintree.png">   
          </a>
        </p>
        <p>Braintree, a division of PayPal, is a company based in Chicago that specializes in mobile and web payment systems for ecommerce companies.</p>
      </div>
      <div class="col-md-4 text-center">
        <p style="padding-top: 35px"> 
          <a href="/payments-paypal" >
            <img src="/img/logo/download.png"> 
          </a>
          <p>Basic PayPal management of payments. Most of the customization of values and subscription options covered on the PayPal site.</p>
        </p>
      </div>
      <div class="col-md-4 text-center">
        <p style="padding-top: 35px"> 
          <a href="/payments-payfast"  >
            <img src="/img/logo/PayFast-logo.png" style="max-width:107px">
          </a>
          <p>PayFast is the go-to ecommerce & online payment gateway in South Africa. We make it easy to process payments so individuals, businesses & NPOs get paid.</p>
        </p>
      </div>

      <div class="col-md-12 text-center" style="padding-top: 55px">
        <code>Someone needs to get started with writing an open source payment gateway , there seem to be limits with functionality and documentation and countries of operation.</code>
      </div> 

    </div>
  </div>
</section>
<hr>
<section id="users" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
       <h5>Thanks to our users and organizations.</h5>
       <h3 style="padding-bottom: 15px">Thanks to everyone helping test and feedback on the site. </h3>
       <div class="btn-group" role="group" aria-label="...">
        <a href="/users" target="_blank" type="button" class="btn btn-lg btn-default"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
        <a href="/organizations" target="_blank" type="button" class="btn btn-lg btn-default"><i class="fa fa-users" aria-hidden="true"></i> Organizations</a>
      </div> 
    </div>
  </div>
</div>
</section>
 

{{> footer}}
{{> analytics}}
</body>
</html>
