


<h1>Testing {{sitename}}.</h1>
<hr>

<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation"><a href="/introduction">Introduction</a></li>
			<li role="presentation"><a href="/testing">Testing</a></li>
			<li role="presentation"><a href="/installation">Installation Instructions</a></li>
			<li role="presentation" class="active"><a href="/integration">Integration</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		
		Recaptch
		use the recaptch admin area (browse and find with google) , ensure that all of the repactch deployment points are changed to your new registered domain.
		Add the localhost option to the recaptch domain to allow for local testing.

		Google authorizations

</div>
</div>
