


<h1>An Introduction to {{sitename}}.</h1>
<hr>

<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="active"><a href="/introduction">Introduction</a></li>
			<li role="presentation"><a href="/installation">Installation Instructions</a></li>
			<li role="presentation"><a href="/integration">Integration</a></li>
			<li role="presentation"><a href="/troubleshooting">Troubleshooting</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		
<h3>What is Fraternate?</h3>
<p>Fraternate is a standalone copy of the GitHub user management system. Designed using a mongodB, nodejs, expressjs and Handlebarsjs MVC (model view controller).</p>

<p>Fraternate should be used as a barebones template that can be modified to integrate into your sites custom content and allowing for a complete user management system.
This website has a direct copy hosted on GitHub to allow users to copy the functionality directly. </p>

<p>Follow the installation instructions to download, create a local deployment and begin development of your app with prebuilt user and organizational control. Including commercial integration to allow for paid subscription services.</p>

<h3>User Management</h3>
Sign in | Sign up | Term-of-service | Privacy policy | Change Password | User Profiles | Account Control


<h3>Organization Management by Users</h3>
Create Organization | Join Organization | Add Users to Organizations | Transfer Ownership | Organization Profiles

<h3>Commercialization</h3>
Pubilic and Private Account control for Users and Organizations with Paypal.

<h3>Security</h3>
Bcrypt , Passport and Recaptcha integration.

<div style="padding-top: 55px;text-align: center">
<p>To get started view the installation instructions on this site or the GitHub Repo.</p>
 
	<a href="{{repo}}" target="_blank" class="btn btn-default">GitHub Repo</a>
</div>
 
</div>
</div>

