


<h1>An Introduction to {{sitename}}.</h1>
<hr>

<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="active"><a href="/introduction">Introduction</a></li>
			<li role="presentation"><a href="/testing">Testing</a></li>
			<li role="presentation"><a href="/installation">Installation Instructions</a></li>
			<li role="presentation"><a href="/integration">Integration</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		

<p>Organizational control by users with purchasing options.</p>
<p>&nbsp;</p>
<p>This website has a direct copy hosted on GitHub to allow users to copy the functionality directly. follow the installation instructions to download, create a local deployment and begin development of your app with prebuilt user and organizational control. including commercial integration to allow for paid subscription services.</p>

</div></div>

