


<h1>The Fraternate Licence.</h1>
<hr>

<div class="row">
	<div class="col-md-3">
<div class="list-group">
			<a class="list-group-item " href="/introduction">Introduction</a>
			<a class="list-group-item" href="/specifications">Specifications</a>			
			<a class="list-group-item" href="/installation">Installing on Localhost</a>
			<a class="list-group-item" href="/domain">Web Hosting</a>			
			<a class="list-group-item" href="/integration">Third Party Integration</a>
			<a class="list-group-item" href="/payments">Payments - Braintree</a>
			<a class="list-group-item" href="/payments-paypal">Payments - PayPal</a>
			<a class="list-group-item" href="/payments-payfast">Payments - PayFast</a>			
			<a class="list-group-item" href="/troubleshooting">Troubleshooting</a>
			<a class="list-group-item active" href="/licence">Licence</a>
	</div>
		<div class="co" style="text-align: center;"> 
						<h3></h3>
						<div class="panel panel-default">
							<div class="panel-body">
								<img  style="max-width: 65px" src="/img/logo/osi_black_and_white_light_backgrounds_logo.png" alt="...">
								<h4  >MIT License - 100 % Open Source</h4>
								Fraternate is completely open source.
							</div>
						</div>
					</div>
	</div>
<div class="col-md-9" style="min-height: 850px">

<h3>MIT License</h3>

<p>Copyright (c) 2017 Isithelo , Mining Consultants and Services (Pty) Ltd</p>
 
<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.</p>

<p class="well">THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</p>
 

	</div>
</div>
</div>
