<h1>Payment Integration.</h1>
<hr>
<div class="row">
  <div class="col-md-3">
   <ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href="/introduction">Introduction</a></li>
    <li role="presentation"><a href="/specifications">Specifications</a></li>		
    <li role="presentation"><a href="/installation">Installation Instructions</a></li>
    <li role="presentation"><a href="/integration">Third Party Integration</a></li>
    <li role="presentation" class="active"><a href="/payments">Payment Integration</a></li>
    <li role="presentation"><a href="/css">CSS Management</a></li>
    <li role="presentation"><a href="/troubleshooting">Troubleshooting</a></li>
    <li role="presentation" ><a href="/licence">Licence</a></li>
  </ul>
</div>
<div class="col-md-9" style="min-height: 850px">
 
  
 


    <h3>Braintree Billing Management</h3>
    <div class="row">
     <div class="col-md-9">
       <p> The table below shows the complete set of transactions on the {{sitename}} site.
        All transactions are managed through the Braintree service, the data below is using the Sandbox payment system provided by Braintree and no real transactions are occurring and all credit card details are incorrect. So, you can go nuts and buy test subscriptions to your hearts content.
      </p>
    </div>
    <div class="col-md-3">
     <div style="text-align: center;">
      <a href="https://www.braintreepayments.com/" target="_blank"><img src="/img/logo/braintree.png"> </a> <p>You will need to set up an account.</p>
    </div>

  </div>
</div>
<p></p>
<h3>Braintree Boilerplate Specifications</h3>
<div class="row">
<div class="col-md-12">
  <p>The following features are subscription features are tested on the Braintree sandbox account.</p>
</div>

  <div class="col-md-6">
  <table class="table table-bordered">
      <thead><tr class="tableizer-firstrow"><th>Credit Card</th><th>Create</th><th>Read</th><th>Update</th><th>Delete</th></tr></thead><tbody>
      <tr><td>Payment Details</td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td></tr>
      <tr><td>Subscription</td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td></tr>
      <tr><td>Transaction</td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td></tr>
    </tbody></table>
  </div>
  <div class="col-md-6">
  <table class="table table-bordered">
      <thead><tr class="tableizer-firstrow"><th>PayPal</th><th>Create</th><th>Read</th><th>Update</th><th>Delete</th></tr></thead><tbody>
      <tr><td>Payment Details</td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td></tr>
      <tr><td>Subscription</td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td></tr>
      <tr><td>Transaction</td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td><td style="text-align: center;"><span class="fa-stack fa-lg">
                
                <i class="fa fa fa-check" style="color:green"></i>
              </span>
            </td></tr>
    </tbody></table>
  </div>
</div>
  <h3>The .ENV File</h3>
  <p>For localhost testing the .ENV file on your local server should have the following lines added to the file.</p>
  <p>You will be able to get your actuals from the <a href="https://www.braintreepayments.com/" target="_blank">Braintree</a> website. You will need to register or login to receive the unique keys.</p>
  <pre>
MERCHANTID = 'YOU MECHANT ID GOES HERE'
PUBLICKEY = 'YOUR PUBLIC KEY GOES HERE'
PRIVATEKEY = 'YOUR PRIVATE KEY GOES HERE'
  </pre>

 
</div>
</div>

