<h1>Payment Integration.</h1>
<hr>
<div class="row">
<div class="col-md-3">
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation"><a href="/introduction">Introduction</a></li>
			<li role="presentation"><a href="/specifications">Specifications</a></li>		
		<li role="presentation"><a href="/installation">Installation Instructions</a></li>
		<li role="presentation"><a href="/integration">Third Party Integration</a></li>
		<li role="presentation" class="active"><a href="/payments">Payment Integration</a></li>
		<li role="presentation"><a href="/troubleshooting">Troubleshooting</a></li>
		<li role="presentation" ><a href="/licence">Licence</a></li>
	</ul>
</div>
<div class="col-md-9" style="min-height: 850px">
<h3>Setting up the payments process.</h3> 
<p>The payment managment and security is handled by Braintree , In order to utilize this functioality you will need to register or login .</p>
      <a href="https://www.braintreepayments.com/" target="_blank"><img src="/img/logo/braintree.png"> </a>

<h3>The .ENV File</h3>
<p>For localhost testing the .ENV file on your local server should have the following lines added to the file.</p>
<p>You will be able to get your actuals from the <a href="https://www.braintreepayments.com/" target="_blank">Braintree</a> website. You will need to register or login to recieve the unique keys.</p>
<pre>
MERCHANTID = 'kfhj6tfcdfgjmp26znt'
PUBLICKEY = '9pberwkvy2dewpykppd7'
PRIVATEKEY = '0223774ef00abedfeebexxsdfcbdccc36569eee33d4'
</pre>


	</div>
</div>

