<div class="container">
<h1>Payment Integration with Payfast.</h1>
<hr>
<div class="row">
  <div class="col-3">
<div class="list-group">
      <a class="list-group-item" href="/introduction">Introduction</a>
      <a class="list-group-item" href="/specifications">Specifications</a>      
      <a class="list-group-item" href="/installation">Installing on Localhost</a>
      <a class="list-group-item" href="/domain">Web Hosting</a>      
      <a class="list-group-item" href="/integration">Third Party Integration</a>
      <a class="list-group-item" href="/payments">Payments - Braintree</a>
      <a class="list-group-item" href="/payments-paypal">Payments - PayPal</a>
      <a class="list-group-item active" href="/payments-payfast">Payments - PayFast</a>
      <a class="list-group-item" href="/troubleshooting">Troubleshooting</a>
      <a class="list-group-item" href="/licence">Licence</a>
  </div>
      <p></p>
    <div class="co" style="text-align: center;"> 
      <h3></h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <img  style="max-width: 65px" src="/img/logo/osi_black_and_white_light_backgrounds_logo.png" alt="...">
          <h4  >MIT License - 100 % Open Source</h4>
          Fraternate is completely open source.
        </div>
      </div>
    </div>
</div>
<div class="col-9" style="min-height: 850px">
    <h3>PayFast Payments</h3>
    <div class="row">
     <div class="col-9">
       <p>The details to follow describe the process of creation of receiving payments using Payfast. The IPN (Instant Payment Notification) from the Payfast server is then received and saved on the MongoDb Database.
      </p>

Payfast supports a sandbox environment , allowing for testing of transactions.
<a href="https://sandbox.payfast.co.za/" target="_blank">PayFast Sandbox</a>


<h3>
.ENV
</h3>
<p>Ensure your .env in the root directory of your localhost includes the following details from your PayFast account.</p>
 <pre>
MERCHANTIDPAYFAST = 'blablabla'
MERCHANTKEY = 'blablabla'
PASSPHRASEPAYFASE = 'blablabla'
</pre>


  



    </div>
    <div class="col-3">
     <div style="text-align: center;">
      <a href="https://www.paypal.com" target="_blank"><img style="max-width: 155px" src="/img/logo/PayFast-logo.png"> </a> <p></p><p>You will need to set up an account.</p>
    </div>

  </div>
</div>
<p></p> 
 
</div>
</div>
</div>
