<h1>Payment Integration with PayPal.</h1>
<hr>
<div class="row">
  <div class="col-md-3">
<div class="list-group">
      <a class="list-group-item" href="/introduction">Introduction</a>
      <a class="list-group-item" href="/specifications">Specifications</a>      
      <a class="list-group-item" href="/installation">Installation Instructions</a>
      <a class="list-group-item" href="/domain">Domain Registration</a>      
      <a class="list-group-item" href="/integration">Third Party Integration</a>
      <a class="list-group-item" href="/payments">Payments - Braintree</a>
      <a class="list-group-item active" href="/payments-paypal">Payments - PayPal</a>
      <a class="list-group-item" href="/troubleshooting">Troubleshooting</a>
      <a class="list-group-item" href="/licence">Licence</a>
  </div>
      <p></p>
    <div class="co" style="text-align: center;"> 
      <h3></h3>
      <div class="panel panel-default">
        <div class="panel-body">
          <img  style="max-width: 65px" src="/img/logo/osi_black_and_white_light_backgrounds_logo.png" alt="...">
          <h4  >MIT License - 100 % Open Source</h4>
          Fraternate is completely open source.
        </div>
      </div>
    </div>
</div>
<div class="col-md-9" style="min-height: 850px">
 
  
 


    <h3>PayPal Payments</h3>
    <div class="row">
     <div class="col-md-9">
       <p>The details to follow describe the process of creation of receiving payments using PayPal. The IPN (Instant Payment Notification) from the PayPal server is then received and saved on the MongoDb Database.
      </p>
    </div>
    <div class="col-md-3">
     <div style="text-align: center;">
      <a href="https://www.paypal.com" target="_blank"><img style="max-width: 155px" src="/img/logo/download.png"> </a> <p></p><p>You will need to set up a business account.</p>
    </div>

  </div>
</div>
<p></p> 
 
</div>
</div>

