<style type="text/css">
	.awesome {
		padding: 2px;
		text-align:center;
		border-radius: 5px;
		background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	}
</style>
<h1>Fraternate Specifications.</h1>
<hr>
<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation"><a href="/introduction">Introduction</a></li>
			<li role="presentation" class="active"><a href="/specifications">Specifications</a></li>
			<li role="presentation"><a href="/installation">Installation Instructions</a></li>
			<li role="presentation"><a href="/integration">Third Party Integration</a></li>
			<li role="presentation"><a href="/payments">Payment Integration</a></li>
			<li role="presentation"><a href="/css">CSS Management</a></li>
			<li role="presentation"><a href="/troubleshooting">Troubleshooting</a></li>
			<li role="presentation" ><a href="/licence">License</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<h3>Site Functionality</h3>	
		<p>Here are the notes on the planned development as well as current functionality on the Fraternate boilerplate.</p>
		<div class="row">
			<div class="col-md-6">
				<h4>User Management</h4>
				<p>Below is a list of the current functionality of the user management system , and its progress.</p>
				<table class="table table-bordered"> 
					<thead>
						<tr>
							<th>Functionality</th>
							<th style="text-align: center; ">Progress</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Log in </td>
							<td style="text-align: center;"><span class="fa-stack fa-lg">
								 
								<i class="fa fa fa-check" style="color:green"></i>
							</span>
						</td>
					</tr>
					<tr>
						<td>Sign up</td>
						<td style="text-align: center;"><span class="fa-stack fa-lg">
							 
							<i class="fa fa fa-check" style="color:green"></i>
						</span>
					</td>
				</tr>
				<tr>
					<td>Term-of-service</td>
					<td style="text-align: center;"><span class="fa-stack fa-lg">
						 
						<i class="fa fa fa-check" style="color:green"></i>
					</span>
				</td>
			</tr>
			<tr>
				<td>Privacy policy</td>
				<td style="text-align: center;"><span class="fa-stack fa-lg">
					 
					<i class="fa fa fa-check" style="color:green"></i>
				</span>
			</td>
		</tr>
		<tr>
			<td>Change Password</td>
			<td style="text-align: center;"><span class="fa-stack fa-lg">
				 
				<i class="fa fa fa-check" style="color:green"></i>
			</span>
		</td>
	</tr>
	<tr>
		<td>User Profiles</td>
		<td style="text-align: center;">
			<span class="fa-stack fa-lg">
				 
				<i class="fa fa fa-check" style="color:green"></i>
			</span>
		</td>
	</tr>  
	<tr>
		<td>Change Log</td>
		<td style="text-align: center;"><span class="fa-stack fa-lg">
			 
			<i class="fa fa-road" aria-hidden="true"></i>

		</span>
	</td>	
</tr> 		
<tr>
	<td>Commercialization</td>
	<td style="text-align: center;">7/10</td>
</tr>
</tbody>
</table>
</div>
<div class="col-md-6">
	<h4>Organization Management by Users</h4>
	<p>Below is a list of the current functionality of the organization management system , and its progress.</p>
	<table class="table table-bordered"> 
		<thead>
			<tr>
				<th>Functionality</th>
				<th style="text-align: center; ">Progress</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Create Organization</td>
				<td style="text-align: center;">6/10</td>
			</tr>
			<tr>
				<td>Delete Organization</td>
				<td style="text-align: center;"><span class="fa-stack fa-lg">
					 
					<i class="fa fa fa-check" style="color:green"></i>
				</span></td>
			</tr>
			<tr>
				<td>Organization Profiles</td>
				<td style="text-align: center;">6/10</td>
			</tr>												
			<tr>
				<td>Request to Join Organization</td>
				<td style="text-align: center;"><span class="fa-stack fa-lg">
					 
					<i class="fa fa fa-check" style="color:green"></i>
				</span></td>
			</tr>
			<tr>
				<td>Accept Join Request</td>
				<td style="text-align: center;"><span class="fa-stack fa-lg">
					 
					<i class="fa fa fa-check" style="color:green"></i>
				</span></td>
			</tr>
			<tr>
				<td>Leave Organization</td>
				<td style="text-align: center;"><span class="fa-stack fa-lg">
					 
					<i class="fa fa fa-check" style="color:green"></i>
				</span></td>
			</tr>						
			<tr>
				<td>Add Users to Organization</td>
				<td style="text-align: center;"><span class="fa-stack fa-lg">
					 
					<i class="fa fa fa-check" style="color:green"></i>
				</span></td>
			</tr>
			<tr>
				<td>Kick Users from Organization</td>
				<td style="text-align: center;"><span class="fa-stack fa-lg">
					 
					<i class="fa fa fa-check" style="color:green"></i>
				</span></td>
			</tr>						
			<tr>
				<td>Transfer Ownership</td>
				<td style="text-align: center;"><span class="fa-stack fa-lg">
					 
					<i class="fa fa-road" aria-hidden="true"></i>

				</span></td>
			</tr>
			<tr>
				<td>Membership Privileges</td>
				<td style="text-align: center;"><span class="fa-stack fa-lg">
					 
					<i class="fa fa-road" aria-hidden="true"></i>

				</span></td>
			</tr>
					
			<tr>
				<td>Change Log</td>
				<td style="text-align: center;"><span class="fa-stack fa-lg">
					 
					<i class="fa fa-road" aria-hidden="true"></i>

				</span>
			</td>	
		</tr> 		
		<tr>
			<td>Commercialization</td>
			<td style="text-align: center;">4/10</td>
		</tr>			
	</tbody>
</table>
</div>
<div style="text-align: center;">
	<span class="fa-stack fa-lg">
		 
		<i class="fa fa fa-check" style="color:green"></i>
	</span> Items that are complete.
	<span class="fa-stack fa-lg">
		 
		<i class="fa fa-road" aria-hidden="true"></i>
	</i>
</span> Items on the road map.
</div>
</div>
<div class="row">
	<div class="col-md-12">
		<hr>
		<h3>Superuser Functionality</h3>
		<p>Below is a list of the current functionality for superuser access, and its progress.</p>
	</div>
	<div class="col-md-6">
		<table class="table table-bordered"> 
			<thead>
				<tr>
					<th>Functionality</th>
					<th style="text-align: center; ">Progress</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Get orphaned organizations</td>
					<td style="text-align: center;"><span class="fa-stack fa-lg">
						 
						<i class="fa fa-road" aria-hidden="true"></i>

					</span></td>
				</tr>
			</tbody>
		</table>

	</div>
	<div style="text-align: center;">
		<span class="fa-stack fa-lg">
			 
			<i class="fa fa fa-check" style="color:green"></i>
		</span> Items that are complete.
		<span class="fa-stack fa-lg">
			 
			<i class="fa fa-road" aria-hidden="true"></i>
		</i>
	</span> Items on the road map.
</div>
</div>
<div class="row">
	<div class="col-md-12">
		<hr> 
		<h3>Commercialization</h3>
		Public and Private Account control for Users and Organizations with Braintree. Functionality for Credit card subscription and PayPal.
	</div>
	<div class="col-md-6">
		<h4>Users</h4>
		<table class="table table-bordered"> 
			<thead>
				<tr>
					<th>Users</th>
					<th style="text-align: center; ">Progress</th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td>Create Braintree Vault User</td>
					<td style="text-align: center;"><span class="fa-stack fa-lg">
						 
						<i class="fa fa fa-check" style="color:green"></i>
					</span>
				</td>
			</tr>
			<tr>
				<td>Update Braintree Vault User</td>
				<td style="text-align: center;"><span class="fa-stack fa-lg">
					 
					<i class="fa fa fa-check" style="color:green"></i>
				</span>
			</td>
		</tr>
		<tr>
			<td>Read Braintree Vault User</td>
			<td style="text-align: center;"><span class="fa-stack fa-lg">
				 
				<i class="fa fa fa-check" style="color:green"></i>
			</span>
		</td>
	</tr>
	<tr>
		<td>Delete Braintree Vault User</td>
		<td style="text-align: center;"><span class="fa-stack fa-lg">
			 
			<i class="fa fa fa-check" style="color:green"></i>
		</span>
	</td>
</tr>				
<tr>
	<td>Create User Subscription</td>
	<td style="text-align: center;"><span class="fa-stack fa-lg">
		 
		<i class="fa fa fa-check" style="color:green"></i>
	</span>
</td>
</tr>
<tr>
	<td>Modify User Subscription </td>
	<td style="text-align: center;"><span class="fa-stack fa-lg">
		 
		<i class="fa fa fa-check" style="color:green"></i>
	</span>
</td>
</tr>	
<tr>
	<td>Delete User Subscription </td>
	<td style="text-align: center;"><span class="fa-stack fa-lg">
		 
		<i class="fa fa fa-check" style="color:green"></i>
	</span>
</td>
</tr>			
<tr>
	<td>View Upcomming Payments</td>
	<td style="text-align: center;"><span class="fa-stack fa-lg">
		 
		<i class="fa fa fa-check" style="color:green"></i>
	</span>
</td>
</tr>
<tr>
	<td>View Transaction History</td>
	<td style="text-align: center;"><span class="fa-stack fa-lg">
		 
		<i class="fa fa fa-check" style="color:green"></i>
	</span>
</td>
</tr>	
<tr>
	<td>Testing</td>
	<td style="text-align: center;"><span class="fa-stack fa-lg">
		 
		<i class="fa fa fa-check" style="color:green"></i>
	</span>
</td>
</tr>
<tr>
	<td>Stripe and Braintree</td>
	<td style="text-align: center;"><span class="fa-stack fa-lg">
		 
		<i class="fa fa-road" aria-hidden="true"></i>
		
	</span></td>
</tr>	
</tbody>
</table>
</div>
<div class="col-md-6">
	<h4>Organizations</h4>
	<table class="table table-bordered"> 
		<thead>
			<tr>
				<th>Organizations</th>
				<th style="text-align: center; ">Progress</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Create Braintree Vault Organization</td>
				<td style="text-align: center;"><span class="fa-stack fa-lg">
					 
					<i class="fa fa fa-check" style="color:green"></i>
				</span>
			</td>
		</tr>
		<tr>
			<td>Update Braintree Vault Organization</td>
			<td style="text-align: center;">
						<span class="fa-stack fa-lg">
				 
				<i class="fa fa fa-check" style="color:green"></i>
			</span></td>
		</tr>
		<tr>
			<td>Read Braintree Vault Organization</td>
			<td style="text-align: center;">
			<span class="fa-stack fa-lg">
				 
				<i class="fa fa fa-check" style="color:green"></i>
			</span>
		</td>
	</tr>
	<tr>
		<td>Delete Braintree Vault Organization</td>
		<td style="text-align: center;"><span class="fa-stack fa-lg">
			 
			<i class="fa fa fa-check" style="color:green"></i>
		</span>
	</td>
</tr>
<tr>
	<td>Create Organization Subscription</td>
	<td style="text-align: center;">4/10</td>
</tr>
<tr>
	<td>Modify Organization Subscription</td>
	<td style="text-align: center;">0/10</td>
</tr>	
<tr>
	<td>Delete Organization Subscription </td>
	<td style="text-align: center;">0/10</td>
</tr>	
<tr>
	<td>Add a billing manager</td>
	<td style="text-align: center;"><span class="fa-stack fa-lg">
		 
		<i class="fa fa fa-check" style="color:green"></i>
	</span>
</td>
</tr>
<tr>
	<td>Delete a billing manager</td>
	<td style="text-align: center;"><span class="fa-stack fa-lg">
		 
		<i class="fa fa fa-check" style="color:green"></i>
	</span>
</td>
</tr>
<tr>
	<td>Billing manager control panel</td>
	<td style="text-align: center;">0/10</td>
</tr>
<tr>
	<td>View Upcomming Payments</td>
	<td style="text-align: center;">0/10</td>
</tr>
<tr>
	<td>View Transaction History</td>
	<td style="text-align: center;">0/10</td>
</tr>
			<tr>
				<td>Impose membership qty limits.</td>
				<td style="text-align: center;"> 0/10 
			</tr>
<tr>
	<td>Testing</td>
	<td style="text-align: center;">0/10</td>
</tr>
<tr>
	<td>Stripe and Braintree</td>
	<td style="text-align: center;"><span class="fa-stack fa-lg">
		 
		<i class="fa fa-road" aria-hidden="true"></i>
		
	</span></td>
</tr>
</tbody>
</table>
</div>

</div>
<div style="text-align: center;">
	<span class="fa-stack fa-lg">
		 
		<i class="fa fa fa-check" style="color:green"></i>
	</span> Items that are complete.
	<span class="fa-stack fa-lg">
		 
		<i class="fa fa-road" aria-hidden="true"></i>
	</i>
</span> Items on the road map.
</div>
<hr>
<h3>Security</h3>
<p>The following security measures have been put in place for the operational elements of the site.</p>

<p>To do list </p>
<a href="https://expressjs.com/en/advanced/best-practice-security.html" target="_blank">Work through express security checklist.</a>
<p></p>
<div class="row">
	<div class="col-md-6">
		<h4>Users</h4>
		<table class="table table-bordered"> 
			<thead>
				<tr>
					<th>Functionality</th>
					<th style="text-align: center;"><img src="/img/defaults/reCAPTCHA_logo.png" style="max-width: 15px;"></th>
					<th style="text-align: center;"><i class="fa fa-user" aria-hidden="true"></i></th>
					<th style="text-align: center;"><i class="fa fa-server" aria-hidden="true"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Sign in </td>
					<td style="text-align: center;"><img src="/img/defaults/reCAPTCHA_logo.png" style="max-width: 15px;"></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Sign up</td>
					<td style="text-align: center;"><img src="/img/defaults/reCAPTCHA_logo.png" style="max-width: 15px;"></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Term-of-service</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>
				<tr>
					<td>Privacy policy</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>
				<tr>
					<td>Change Password</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>
				<tr>
					<td>Paid Access</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>
				<tr>
					<td>User Profiles</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>  
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h4>Organizations</h4>
		<table class="table table-bordered"> 
			<thead>
				<tr>
					<th>Functionality</th>
					<th style="text-align: center;"><img src="/img/defaults/reCAPTCHA_logo.png" style="max-width: 15px;"></th>
					<th style="text-align: center;"><i class="fa fa-user" aria-hidden="true"></i></th>
					<th style="text-align: center;"><i class="fa fa-server" aria-hidden="true"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Create Organization</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>
				<tr>
					<td>Request to Join Organization</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>
				<tr>
					<td>Accept Join Request</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>
				<tr>
					<td>Leave Organization</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>						
				<tr>
					<td>Add Users to Organization</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>
				<tr>
					<td>Kick Users from Organization</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>						
				<tr>
					<td>Transfer Ownership</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>
				<tr>
					<td>Organization Profiles</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="text-align: center;">
		<span>
			<img src="/img/defaults/reCAPTCHA_logo.png" style="max-width: 15px;">
			Recaptcha integration
		</span>
		<span>
			<i class="fa fa-user" aria-hidden="true"></i>
			Client-Side Validation   
		</span>
		<span>
			<i class="fa fa-server" aria-hidden="true"></i>
			Server-Side Validation   
		</span>
	</div>
</div>
</div>
</div>

