<style type="text/css">
	.awesome {
		padding: 2px;
		text-align:center;
		border-radius: 5px;
		background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	}
</style>
<h1>An Introduction to {{sitename}}.</h1>
<hr>
<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation"><a href="/introduction">Introduction</a></li>
			<li role="presentation" class="active"><a href="/specifications">Specifications</a></li>
			<li role="presentation"><a href="/installation">Installation Instructions</a></li>
			<li role="presentation"><a href="/integration">Integration</a></li>
			<li role="presentation"><a href="/payments">Payment Integration</a></li>
			<li role="presentation"><a href="/troubleshooting">Troubleshooting</a></li>
			<li role="presentation" ><a href="/licence">Licence</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div style="text-align: center;">
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
				<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
			</span> Items that are complete.
			<span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x" style="color: #337ab7"></i>
				<i class="fa fa-road fa-stack-1x fa-inverse" aria-hidden="true"></i>
			</i>
		</span> Items on the road map.
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>User Management</h3>
			<p>Below is a list of the current functionality of the user management system , and its progress.</p>
			<table class="table table-bordered"> 
				<thead>
					<tr>
						<th>Functionality</th>
						<th style="text-align: center; ">Progress</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Log in </td>
						<td style="text-align: center;"><span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
							<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
						</span></td>
					</tr>
					<tr>
						<td>Sign up</td>
						<td style="text-align: center;"><span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
							<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
						</span></td>
					</tr>
					<tr>
						<td>Term-of-service</td>
						<td style="text-align: center;"><span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
							<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
						</span></td>
					</tr>
					<tr>
						<td>Privacy policy</td>
						<td style="text-align: center;"><span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
							<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
						</span></td>
					</tr>
					<tr>
						<td>Change Password</td>
						<td style="text-align: center;"><span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
							<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
						</span></td>
					</tr>
					<tr>
						<td>Paid Access</td>
						<td style="text-align: center;"><span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
							<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
						</span></td>
					</tr>
					<tr>
						<td>User Profiles</td>
						<td style="text-align: center;">
							<span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
								<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
							</span>
						</tr>  
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<h3>Organization Management by Users</h3>
				<p>Below is a list of the current functionality of the organization management system , and its progress.</p>
				<table class="table table-bordered"> 
					<thead>
						<tr>
							<th>Functionality</th>
							<th style="text-align: center; ">Progress</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Create Organization</td>
							<td style="text-align: center;">5/10</td>
						</tr>
						<tr>
							<td>Delete Organization</td>
							<td style="text-align: center;">2/10</td>
						</tr>
						<tr>
							<td>Organization Profiles</td>
							<td style="text-align: center;">6/10</td>
						</tr>												
						<tr>
							<td>Request to Join Organization</td>
							<td style="text-align: center;"><span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
								<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
							</span></td>
						</tr>
						<tr>
							<td>Accept Join Request</td>
							<td style="text-align: center;"><span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
								<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
							</span></td>
						</tr>
						<tr>
							<td>Leave Organization</td>
							<td style="text-align: center;"><span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
								<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
							</span></td>
						</tr>						
						<tr>
							<td>Add Users to Organization</td>
							<td style="text-align: center;"><span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
								<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
							</span></td>
						</tr>
						<tr>
							<td>Kick Users from Organization</td>
							<td style="text-align: center;"><span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x" style="color: #5cb85c"></i>
								<i class="fa fa fa-check fa-stack-1x fa-inverse"></i>
							</span></td>
						</tr>						
						<tr>
							<td>Transfer Ownership</td>
							<td style="text-align: center;"><span class="fa-stack fa-lg">
								<i class="fa fa-circle fa-stack-2x" style="color: #337ab7"></i>
								<i class="fa fa-road fa-stack-1x fa-inverse" aria-hidden="true"></i>
							</i>
						</span></td>
					</tr>
					<tr>
						<td>Membership Privelages</td>
						<td style="text-align: center;"><span class="fa-stack fa-lg">
							<i class="fa fa-circle fa-stack-2x" style="color: #337ab7"></i>
							<i class="fa fa-road fa-stack-1x fa-inverse" aria-hidden="true"></i>
						</i>
					</span></td>
				</tr>					
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h3>Superuser Functionality</h3>
		<p>Below is a list of the current functionality for superuser access, and its progress.</p>
		<table class="table table-bordered"> 
			<thead>
				<tr>
					<th>Functionality</th>
					<th style="text-align: center; ">Progress</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Get orphaned organizations</td>
					<td style="text-align: center;"><span class="fa-stack fa-lg">
						<i class="fa fa-circle fa-stack-2x" style="color: #337ab7"></i>
						<i class="fa fa-road fa-stack-1x fa-inverse" aria-hidden="true"></i>
					</i>
				</span></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-md-6">
	<h3>Commercialization</h3>
	Pubilic and Private Account control for Users and Organizations with Braintree. Functionality for Credit card subscription and PayPal.
	<table class="table table-bordered"> 
		<thead>
			<tr>
				<th>Users</th>
				<th style="text-align: center; ">Progress</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>New user Subscription</td>
				<td style="text-align: center;">0/10</td>
			</tr>
			<tr>
				<td>User Subscription Plans</td>
				<td style="text-align: center;">0/10</td>
			</tr>				
		</tbody>
	</table>
	<table class="table table-bordered"> 
		<thead>
			<tr>
				<th>Organizations</th>
				<th style="text-align: center; ">Progress</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>New Organization Subscription</td>
				<td style="text-align: center;">3/10</td>
			</tr>
			<tr>
				<td>Organization Subscription Plans</td>
				<td style="text-align: center;">0/10</td>
			</tr>				
		</tbody>
	</table>
</div>
</div>
<h3>Security</h3>
<p>The following security measures have been put in place for the operational elements of the site.</p>
<p></p>
<div style="text-align: center;">
	<span>
		<img src="/img/defaults/reCAPTCHA_logo.png" style="max-width: 15px;">
		Recaptcha integration
	</span>
	<span>
		<i class="fa fa-user" aria-hidden="true"></i>
		Client-Side Validation   
	</span>
	<span>
		<i class="fa fa-server" aria-hidden="true"></i>
		Server-Side Validation   
	</span>
</div>
<p></p>
<table class="table table-bordered"> 
	<thead>
		<tr>
			<th>Functionality</th>
			<th style="text-align: center;"><img src="/img/defaults/reCAPTCHA_logo.png" style="max-width: 15px;"></th>
			<th style="text-align: center;"><i class="fa fa-user" aria-hidden="true"></i></th>
			<th style="text-align: center;"><i class="fa fa-server" aria-hidden="true"></i></th>
			<th style="text-align: center;max-width: 15px">Progress</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Sign in </td>
			<td style="text-align: center;"><img src="/img/defaults/reCAPTCHA_logo.png" style="max-width: 15px;"></td>
			<td></td>
			<td></td>
			<td style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
				<span class="sr-only">Loading...</span></td>
			</tr>
			<tr>
				<td>Sign up</td>
				<td style="text-align: center;"><img src="/img/defaults/reCAPTCHA_logo.png" style="max-width: 15px;"></td>
				<td></td>
				<td></td>
				<td style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
					<span class="sr-only">Loading...</span></td>
				</tr>
				<tr>
					<td>Term-of-service</td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"></td>
					<td style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
						<span class="sr-only">Loading...</span></td>
					</tr>
					<tr>
						<td>Privacy policy</td>
						<td style="text-align: center;"></td>
						<td style="text-align: center;"></td>
						<td style="text-align: center;"></td>
						<td style="text-align: center;" style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
							<span class="sr-only">Loading...</span></td>
						</tr>
						<tr>
							<td>Change Password</td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;"></td>
							<td style="text-align: center;" style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
								<span class="sr-only">Loading...</span></td>
							</tr>
							<tr>
								<td>Paid Access</td>
								<td style="text-align: center;"></td>
								<td style="text-align: center;"></td>
								<td style="text-align: center;"></td>
								<td style="text-align: center;" style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
									<span class="sr-only">Loading...</span></td>
								</tr>
								<tr>
									<td>User Profiles</td>
									<td style="text-align: center;"></td>
									<td style="text-align: center;"></td>
									<td style="text-align: center;"></td>
									<td style="text-align: center;" style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
										<span class="sr-only">Loading...</span></td>
									</tr>  
								</tbody>
							</table>
							<table class="table table-bordered"> 
								<thead>
									<tr>
										<th>Functionality</th>
										<th style="text-align: center;"><img src="/img/defaults/reCAPTCHA_logo.png" style="max-width: 15px;"></th>
										<th style="text-align: center;"><i class="fa fa-user" aria-hidden="true"></i></th>
										<th style="text-align: center;"><i class="fa fa-server" aria-hidden="true"></i></th>
										<th style="text-align: center;max-width: 15px">Progress</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Create Organization</td>
										<td style="text-align: center;"></td>
										<td style="text-align: center;"></td>
										<td style="text-align: center;"></td>
										<td style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
											<span class="sr-only">Loading...</span></td>
										</tr>
										<tr>
											<td>Request to Join Organization</td>
											<td style="text-align: center;"></td>
											<td style="text-align: center;"></td>
											<td style="text-align: center;"></td>
											<td style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
												<span class="sr-only">Loading...</span></td>
											</tr>
											<tr>
												<td>Accept Join Request</td>
												<td style="text-align: center;"></td>
												<td style="text-align: center;"></td>
												<td style="text-align: center;"></td>
												<td style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
													<span class="sr-only">Loading...</span></td>
												</tr>
												<tr>
													<td>Leave Organization</td>
													<td style="text-align: center;"></td>
													<td style="text-align: center;"></td>
													<td style="text-align: center;"></td>
													<td style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
														<span class="sr-only">Loading...</span></td>
													</tr>						
													<tr>
														<td>Add Users to Organization</td>
														<td style="text-align: center;"></td>
														<td style="text-align: center;"></td>
														<td style="text-align: center;"></td>
														<td style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
															<span class="sr-only">Loading...</span></td>
														</tr>
														<tr>
															<td>Kick Users from Organization</td>
															<td style="text-align: center;"></td>
															<td style="text-align: center;"></td>
															<td style="text-align: center;"></td>
															<td style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
																<span class="sr-only">Loading...</span></td>
															</tr>						
															<tr>
																<td>Transfer Ownership</td>
																<td style="text-align: center;"></td>
																<td style="text-align: center;"></td>
																<td style="text-align: center;"></td>
																<td style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
																	<span class="sr-only">Loading...</span></td>
																</tr>
																<tr>
																	<td>Organization Profiles</td>
																	<td style="text-align: center;"></td>
																	<td style="text-align: center;"></td>
																	<td style="text-align: center;"></td>
																	<td style="text-align: center;"><i class="fa fa-spinner fa-spin  fa-fw"></i>
																		<span class="sr-only">Loading...</span></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>

