<h1>Congratulations you are logged in.</h1>	
<hr>
<div class="row">
	<div class="col-md-6">
		<h2>You own the following organizations</h2>
	</div>
	<div class="col-md-6">
		<h2>You are a member of the following.</h2>
	</div>

	
</div>