


<h1>Testing {{sitename}}.</h1>
<hr>

<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation"><a href="/introduction">Introduction</a></li>
			<li role="presentation" class="active"><a href="/testing">Testing</a></li>
			<li role="presentation"><a href="/installation">Installation Instructions</a></li>
			<li role="presentation"><a href="/integration">Integration</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		Use the sign in sign up and user interaction areas to browse how the site is operated.

<h3>Username unique vs userid	</h3>

<h3>Sign in with existing user</h3>



</div>
</div>
