


<h1>Troubleshooting {{siteName}}.</h1>
<hr>

<div class="row">
	<div class="col-md-3">
<div class="list-group">
			<a class="list-group-item" href="/introduction">Introduction</a>
			<a class="list-group-item" href="/specifications">Specifications</a>			
			<a class="list-group-item" href="/installation">Installation Instructions</a>
			<a class="list-group-item" href="/domain">Web Hosting</a>			
			<a class="list-group-item" href="/integration">Third Party Integration</a>
			<a class="list-group-item" href="/payments">Payments - Braintree</a>
			<a class="list-group-item" href="/payments-paypal">Payments - PayPal</a>
      <a class="list-group-item" href="/payments-payfast">Payments - PayFast</a>      
			<a class="list-group-item active" href="/troubleshooting">Troubleshooting</a>
			<a class="list-group-item" href="/licence">Licence</a>
	</div>
				<p></p>
		<div class="co" style="text-align: center;"> 
			<h3></h3>
			<div class="panel panel-default">
				<div class="panel-body">
					<img  style="max-width: 65px" src="/img/logo/osi_black_and_white_light_backgrounds_logo.png" alt="...">
					<h4  >MIT License - 100 % Open Source</h4>
					Fraternate is completely open source.
				</div>
			</div>
		</div>
	</div>
<div class="col-md-9" style="min-height: 850px">

 <h3>Mongodb</h3>
 <p>if you hve a mongodb dll error , try installing the Visual studio redistributable packages.</p>
 

<h3>Troubleshooting</h3>

<p>Issues with starting the server on the first installation is likely due to missing NPM modules, If the server is crashing try installation the following modules independently.</p>

<pre>
{
  "name": "Fraternate",
  "version": "1.0.0",
  "description": "My app description",
  "scripts": {
    "deploy": "npm test && git push heroku master",
    "start": "node server.js"
  },
  "dependencies": {
    "async": "^1.5.2",
    "bcrypt-nodejs": "0.0.3",
    "body-parser": "^1.18.2",
    "braintree": "^2.5.0",
    "compression": "^1.7.1",
    "crypto": "0.0.3",
    "dotenv": "^2.0.0",
    "express": "^4.16.2",
    "express-flash": "0.0.2",
    "express-handlebars": "^3.0.0",
    "express-recaptcha": "^2.3.0",
    "express-session": "^1.15.6",
    "express-validator": "^2.21.0",
    "flash": "^1.1.0",
    "fraternate": "^1.1.14",
    "heavylifting": "^1.2.12",
    "method-override": "^2.3.10",
    "mongoose": "^4.13.10",
    "morgan": "^1.9.0",
    "nodemailer": "^2.7.2",
    "passport": "^0.3.2",
    "passport-github": "^1.1.0",
    "passport-google-oauth": "^1.0.0",
    "passport-local": "^1.0.0",
    "serve-favicon": "^2.4.5"
  },
  "devDependencies": {},
  "engines": {
    "node": "6.11.1"
  }
}

</pre>

<p>If you are getting stuck, this is a port of the quality work done on Megaboilerplate. Here are the installation instructions for&nbsp;<a href="https://github.com/sahat/megaboilerplate#express">Megaboilerplate</a></p>

<p>If you are still having trouble use the contact page , or add an issue on the GitHub Repo.</p>

<h3>Recaptcha Troubleshooting</h3>
<p>Some possible issues with Recaptcha.</p>
<ul>
	<li>the domain needs to read "localhost"</li>
	<li>the .env file needs to be changed to have your secret etc included.</li>
	<li>the page with the recaptcha div needs to have the correct data-sitekey!</li>
</ul>

 <code> &lt;div class="g-recaptcha" data-callback="enableBtn" data-sitekey="6Le2aCcUAAAAAO8g693E9uMACIv7L-DeAbDZc67-"&gt;&lt;/div&gt; </code>
  
<h3>Server Installation.</h3>

<p>Here are a few points to consider when uploading onto the Heroku server.</p>

Server crash due to missing .env file.

<pre>The .env file contains all of the sites api and secret keys. Ensure that it exists on the server.</pre>

</div>
</div>
