<style type="text/css">
	.awesome {
		padding: 2px;
		text-align:center;
		border-radius: 5px;
		background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	}
</style>
<h1>An Introduction</h1>
<hr>
<div class="row">
	<div class="col-md-3">
		{{> navigation partner=true}}
	</div>
	<div class="col-md-9">
		<h1>Partnership with Shiftbulk.</h1>
		Please contact us if you would like to partner with shiftbulk to improve the development and integration offerings for Shiftbulk. Send us a mail at: 
		<text><a href="mailto:webmaster@shiftbulk.com"  >webmaster@shiftbulk.com</a></text>
		<div style="text-align: center;padding-top: 25px">
			<a class="btn btn-default" href="/contact">Contact Us</a>
		</div>
	</div>
</div>

