<style type="text/css">
	.awesome {
		padding: 2px;
		text-align:center;
		border-radius: 5px;
		background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	}
</style>
<h1> </h1>
<hr>
<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation" class="active"><a href="/introduction">Introduction</a></li>
			<li role="presentation"><a href="/introduction">Database</a></li>
			<li role="presentation"><a href="/introduction">Store</a></li>
			<li role="presentation"><a href="/introduction">Components</a></li>
			<li role="presentation"><a href="/introduction">Assemblies</a></li>
			<li role="presentation"><a href="/introduction">Reporting</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		</div>
	</div>
