.navbar-avatar-pic {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
#toToppo a {
  padding: 5px 5px;
  background: #000;
  color: #fff;
  position: fixed;
  z-index: -15px;
  bottom: 15px;
  right: 15px;
  display: none;
  text-decoration: none;
  border-radius: 5px
}
.help-block  {
  font-size: 80%;
  font-weight: 400;
  color: #6c757d!important;
}
.svg-inline--fa{
  margin-top: 3px!important;
}

.dummy{
  overflow: hidden;
}


.alpaca-field-hidden{
  display: none;
}



#loader-wrapper{
  min-height: 300px;
  position: relative;
  top: 125px;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #007bff;
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #ffc107;
  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #dc3545;
  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

.org_profile_splash{
  max-width: 200px;border-radius: 5px;border: 1px;border-color: #d8d8d8;border-style: solid;
}

.user_profile_splash{
  width: 100%;
  border-radius: 50%;
  border: 1px;
  border-color: #d8d8d8;
  border-style: solid;
  max-width: 250px;
}

.alpaca-control-label{
  font-weight: 700;
}

.jstree-themeicon{
  color: #007bff;
}

.folder_icon{
  color: #007bff;
}

.jstree-hovered{
  background: #333!important;
}

.jstree-wholerow-hovered{
  background: #333!important;
}

.jstree-hovered .jstree-themeicon{
  color: white;
}
.jstree-clicked .jstree-themeicon{
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1)!important;
  font-weight: 500
}

.navbar-dark  a.nav-link.nav-custom:hover {
  color: rgba(255,255,255,.5)!important;
}

.userInfo{
 color: grey;
}

.userpic_small{
  border-radius: 50%;
  max-width:25px;
  max-height:25px;
  min-width:25px;
  min-height:25px;
}

.user_picture_comment{
  border-radius: 50%;
}

.alpaca-array-toolbar-action{
  color: #375a7f;
  border-color: #375a7f;
}
.alpaca-array-actionbar-action{
 color: #375a7f;
 border-color: #375a7f;
 
}
.alpaca-array-actionbar{
 padding-bottom: 5px 
}

.g-recaptcha {
  overflow:hidden;
  width:298px;
  height:74px;
  border: white 17px;
}
iframe {
  margin:-1px 0px 0px -2px;  
}

input {
  -webkit-background-clip: text !important;
}

.notfound .notfound-404 h1{
  color: grey!important;
}

.recaptacha-div {
  background-color: #222222;
  border: 1px solid rgba(250, 250, 250, 0.125);
  width:304px
}

.recaptacha-div-light {
  background-color: #F9F9F9;
  border: 1px solid rgb(206 212 218);
}

.card-columns {
 orphans: 1;
 widows: 1;
}

.slugCssManager{
  pointer-events: none;
}
.slugCssManager input{
  pointer-events: none;
  color: #b5b5b5 !important;
}

.table_cell_not_zero input{
  color: white;
}



.speechbubble {
    position: relative;
    box-shadow: 0 0 6px #b2b2b2;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
    border: #dee2e6 solid 1px;
}
.speechbubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #dee2e6;
    border-width: 12px 20px 12px 0;
    top: 20px;
    left: -20px;
    margin-top: -12px;
}
.speechbubble:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-color: transparent #ffffff;
    border-width: 13px 21px 13px 0;
    top: 20px;
    left: -21.5px;
    margin-top: -13px;
    display: block;
}

.has-error input{
  border-color: red;

}

.error-text {
    margin: 15px;
}



.reportBody{
    position: relative;
    width: 80%;
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  }
  .toc{
    min-height: 150px;
    border:grey ;
  }
  .gogooseColoumn
  {
    padding: 15px;
    background: #64676b
  }
  .reportBody{
    font-size: small;
  }
  .reportBody   h1{
    
    font-weight: 300!important;
    line-height: 1.2;
  }
  .reportBody   h2{
    
    font-weight: 300!important;
    line-height: 1.2;
  }
  .reportBody   h3{
    
    font-weight: 300!important;
    line-height: 1.2;
  }
  .reportBody  h4{
    
    font-weight: 300;
    line-height: 1.2;
  }
  .reportBody   h5{
    
    font-weight: 300;
    line-height: 1.2;
  }
  .table_cell_not_zero{
    background-color: #007bff
  }
  .table_cell_not_zero a{
    color: white!important;
  }
  .table_cell_not_zero i{
    color: white!important;
  }
  .table_cell_not_zero button{
    border-color:  white!important;
  }
  .table_cell_not_zero a:hover{
    color: rgb(255 255 254 / 70%)!important
  }

