 /* Use this CSS File to manage your custom CSS.
/* ------------------------- */

.well {
 position: relative;
 padding: 32px;
text-align: justify;
 background-color: #fafbfc;
 border: 1px solid #e1e4e8;
 border-radius: 3px;
 box-shadow: inset 0 0 10px rgba(27,31,35,0.05);

}

body {
  background-image: linear-gradient(180deg, rgba(27,31,35,0.065), rgba(27,31,35,0)) !important;
  background-repeat: no-repeat !important;
  background-size: 100% 200px !important;
}

 

 
.orgnew-container {
  padding-top: 15px;
  max-width: 755px;
}

.navbar-nav > li > p {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  margin: 0 0 0px;
}

@media (min-width: 768px){
  .navbar-nav > li > p {
    padding-top: 15px;
    margin: 0 0 0px;
  }
}

.label-primary {
    background-color: #0366d6;
    border: 2px solid white;
}

.ql-toolbar.ql-snow {
    
    border-radius: 4px!important;
}

 

.btn-custom {
  color: #fff;
  background-color: #0366d6;
  border-color: #ccc;
}
.btn-custom:focus, .btn-custom.focus {
  color: #333;
  background-color: white;
  border-color: #ccc;
}

.btn-custom:active, .btn-custom.active, .open > .dropdown-toggle.btn-custom {
  color: #333;
  background-color: white;
  border-color: #ccc;
}

.btn-custom:hover {
  color: #333;
  background-color: white;
  border-color: #ccc;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.isDisabled > a {
  color: currentColor;
  display: inline-block;  /* For IE11/ MS Edge bug */
  pointer-events: none;
  text-decoration: none;
}

.cropit-preview {
  /* You can specify preview size in CSS */
  width: 350;
  height: 350;
}
 
   #searchclear {
    position: absolute;
    right: 25px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
  }

    .cropper-canvas, .cropper-wrap-box {
    overflow: hidden;
    display: none;
}


 
.notsupershown{
 
}


.supershown td:first-child:::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
     font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";
  }

.bubble
{
position: relative;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
 
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 12px 8px 0;
border-color: transparent #f5f5f5;
display: block;
width: 0;
z-index: 1;
left: -12px;
top: 16px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 12px 8px 0;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
left: -13px;
top: 16px;
}

  #toToppo a {
    padding: 5px 5px;
    background: #000;
    color: #fff;
    position: fixed;
    z-index: -15px;
    bottom: 15px;
    right: 15px;
    display: none;
    text-decoration: none;
    border-radius: 5px
  }


  .alpaca-field-object {
    padding: 0px !important;
}

.error-text{
  color: red;
}


.navbar-avatar-pic {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}