@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800");

/* Scaffolding
/* ------------------------- */

html {
  position: relative;
  min-height: 100%;
overflow-y: scroll; 
}
 
body {
  background-color: #f4f4f4;;
  margin-bottom: 44px;
  line-height: 1.57142857;
    
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  color: #1d7cf4;
}

a:hover {
  text-decoration: none;
}

footer {
  position: absolute;
  width: 100%;
  height: 44px;
  padding: 10px 30px;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}

.login-container {
  padding-top: 55px;
  max-width: 455px;
}

/* Alerts
/* ------------------------- */

.alert {
  border-width: 0 0 0 3px;
}

.alert-info {
  border-color: #31708f;
}

.alert-success {
  color: #fff;
  background-color: #29b35b;
  border-color: #1d8141;
}

.alert-danger {
  color: #b61b17;
  background-color: #ffcdd2;
  border-color: #b61b17;
}

/* Navbar
/* ------------------------- */

.navbar-default {
  background-color: #fff;
  border-color: #e0e0e0;
}

.navbar-default .navbar-nav {
  color: #757575;
}

.navbar-default .navbar-nav > li > a {
  color: #262626;
  border-bottom: 3px solid transparent;
  padding-top: 17.5px;
  padding-bottom: 14.5px;
  transition: all 0.25s;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;;
  border-bottom-color: #bdbdbd;
}

.navbar-default .navbar-nav > li > a.navbar-avatar {
  padding-top: 13px;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a.navbar-avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.navbar-default .navbar-nav > li.active > a {
  border-bottom-color: #3f51b5;
  background-color: transparent;
  color: #262626;
}

/* Panels
/* ------------------------- */

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.panel-heading {
  padding: 20px 30px;
}

.panel-heading + .panel-body {
  padding-top: 0;
}

.panel-body {
  padding: 30px;
}

.panel-body h3 {
  margin-top: 0;
}

.panel-title {
  font-size: 18px;
  color: #424242;
}

/* Buttons
/* ------------------------- */

.btn-toolbar > .btn {
  float: none!important; 
  margin-bottom: 5px;
}

.btn {
  font-weight: 600;
  border-radius: 3px;
}

.btn:focus {
  outline: 0 !important;
}

.btn-default {
  border-color: #ccc;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2);
}

.btn-default:active {
  background: #e6e6e6 linear-gradient(to bottom, #f0f0f0, #e6e6e6);
}

.btn-success {
  border-color: #208a46;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);
}

.btn-success:active {
  background: #239a4e linear-gradient(to bottom, #28af59, #239a4e);
}

.btn-danger {
  border-color: #8c1512;
  background: #b61b17 linear-gradient(to bottom, #cc1e1a, #b61b17);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(140, 21, 18, 0.3);
}

.btn-danger:active {
  background: #9b1714 linear-gradient(to bottom, #b11a17, #9b1714);
}

.btn-facebook {
  color: #fff;
  border-color: #335190;
  background: #3b5998 linear-gradient(to bottom, #4263a9, #3b5998);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(59, 89, 152, 0.3);
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
}

.btn-twitter {
  color: #fff;
  border-color: #009fdb;
  background: #00aced linear-gradient(to bottom, #05baff, #00aced);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(0, 172, 237, 0.3);
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
}

.btn-google {
  color: #fff;
  border-color: #d54331;
  background: #dd4b39 linear-gradient(to bottom, #e05d4d, #dd4b39);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(221, 75, 57, 0.3);
}

.btn-google:hover,
.btn-google:focus {
  color: #fff;
}

.btn-vk {
  color: #fff;
  border-color: #4f7192;
  background: #587ea3 linear-gradient(to bottom, #678aad, #587ea3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(79, 113, 146, 0.3);
}

.btn-vk:hover,
.btn-vk:focus {
  color: #fff;
}

.btn-github {
  color: #fff;
  border-color: #444;
  background: #545454 linear-gradient(to bottom, #616161, #545454);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(68, 68, 68, 0.3);
}

.btn-github:hover,
.btn-github:focus {
  color: #fff;
}

/* Forms */
/* ------------------------- */

textarea {
  resize: none;
}

.form-control {
  height: auto;
  padding: 8px 12px;
  border: 2px solid #ebebeb;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(150, 160, 175, 0.1), inset 0 1px 15px rgba(150, 160, 175, 0.05);
}

.form-group > label {
  
  font-size: 13px;
}

.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.nav > li > a > img {
    max-width: 18px !important;
}
 
.navbar {
   border-radius: 0px !important;  
 }

.navbar-toggle {
  color: white;
 }


.navbar-inverse .navbar-nav > li > a {
    font-weight: 600;
    color: rgba(255,255,255,0.75);
}

 @media screen and (min-width:750px) {
/* caret style */
.caret {
  position: relative;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: -2px!important;
}
/* dropdown style */
.dropdown.open .caret:before,
.dropdown.open .caret:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}
.dropdown.open .caret:before {
  bottom: -174px;
  right: -8px;
  border-bottom-color: #ccc;
}
.dropdown.open .caret:after {
  bottom: -184px;
  right: -8px;
  border-bottom-color: #fff;
}

/* navbar style */
.navbar-nav > li > .dropdown-menu {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.navbar-nav > .open > a .caret:before {
  bottom: -21px;
}
.navbar-nav > .open > a .caret:after {
  bottom: -21px;
}
}

/* HOME PAGE
/* ------------------------- */


.heading-font {
  font-weight: 200;
  letter-spacing: 1px;
}
 
.alt-font {
   text-transform: uppercase;
  letter-spacing: 2px;
}
 
header {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/background/background.jpg');
  color: white;
}
header .header-content {
  text-align: center;
  padding: 150px 0 50px;
  position: relative;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
 
}
header .header-content .header-content-inner .list-badges {
  margin-bottom: 25px;
}
header .header-content .header-content-inner .list-badges img {
  height: 50px;
  margin-bottom: 25px;
}
header .device-container {
  max-width: 300px;
  margin: 0 auto 100px;
}
header .device-container .screen img {
  border-radius: 3px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
  }
  header .header-content .header-content-inner {
    max-width: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
 
  header .device-container {
    max-width: none;
    max-height: calc(0vh);
    margin: 100px auto 0;
  }
}
 
section {
  padding: 100px 0;
}
 
section.download {
  padding: 150px 0;
  position: relative;
}
section.download h2 {
  margin-top: 0;
 
}
section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}
section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}
section.download .badges .badge-link img {
  height: 60px;
}
@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}
 
section.features .section-heading {
  margin-bottom: 100px;
}
section.features .section-heading h2 {
  margin-top: 0;
}
section.features .section-heading p {
  margin-bottom: 0;
}
section.features .device-container,
section.features .feature-item {
  max-width: 300px;
  margin: 0 auto;
}
section.features .device-container {
  margin-bottom: 100px;
}
@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}
section.features .feature-item {
  text-align: center;
  margin-bottom: 100px;
}
@media (min-width: 992px) {
  section.features .device-container,
  section.features .feature-item {
    max-width: none;
  }
}
section.cta {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/background/background.jpg');
 
}


section.cta .cta-content {
  position: relative;
  z-index: 1;
}
section.cta .cta-content h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
  font-size: 50px;
}
@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}
section.cta .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

section.cta1 {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/background/background1.jpg');
 
}

section.cta1 .cta-content {
  position: relative;
  z-index: 1;
}
section.cta1 .cta-content h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
  font-size: 50px;
}
@media (min-width: 768px) {
  section.cta1 .cta-content h2 {
    font-size: 80px;
  }
}
section.cta1 .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}



section.contact {
  text-align: center;
}
section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}
section.contact h2 i {
  color: #dd4b39;
}
section.contact ul.list-social {
  margin-bottom: 0;
}
section.contact ul.list-social li a {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 100%;
  color: white;
}
section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}
section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}
section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}
section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}
section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

/* FONTS
/* ------------------------- */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!important ;
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

  .awesome {
    padding: 2px;
    text-align:center;
    border-radius: 5px;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  }

  .component-detail-img{
         padding: 15px
  }

   .component-detail-img img{
    width :200px;

    border-radius: 15px;
    border:1px #dddddd solid;
  }

    .component-thumb-img{
   
    padding: 15px
  }

   .component-thumb-img img{
    width :100px;

    border-radius: 15px;
    border:1px #dddddd solid;
  }